# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and local config
*.log
*.env

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Output files
*.csv
*.png
failed_logins_chart.png
failed_logins.csv
